tribe-realm
{
com.tomitribe.security.jaas.CipheredLdaptiveLoginModule OPTIONAL
storePass="true"
debug="true"
ldapUrl="ldap://localhost:12389"
userFilter="(uid={user})"
baseDN="ou=people,ou=system"
useStartTLS="false"
subtreeSearch="true"
bindDn="uid=admin,ou=system"
bindCredential="secret"
storePass="true"
clearPass="true";

com.tomitribe.security.jaas.TomcatUsersLoginModule OPTIONAL
debug="true"
digest="SHA";
}
;